body {
	background: #fff;
	font-size: 14px;
	font-family: Helvetica Neue, Helvetica, Arial;
	color: #000;
	background-repeat:no-repeat;
	background-position: center center;
}

header,
article {
	width: 400px;
	display: block;
	vertical-align: top;
}

header *,
article *,
footer *,
img {
	margin: 10px;
	margin-bottom: 25px;
}

a,
span {
	margin-left: 0px;
	margin-right: 0px;
}

h1,
h2 {
	color: #17ccff;
}

a {
	color: #ff2b17;
}

a:hover {
	color: #ff7a29;
}

a * {
	margin: 0 0 0 0;
}

ul,
li {
	padding: 0 0 0 0;
}

li {
	margin: auto 0 10px 0;
	list-style: none;
}

footer {
	margin: 0px;
	margin-top: 30px;
}

section {
	display: inline-block;
	vertical-align: top;
}
